<div class="offset-sm-3">
    <div class="col-sm-8">
        <div class="card text-center">
             <div class="card-header">
                <h3 class="text-center"><%= @kind.name %></h3>
              </div>
              <%= render 'layouts/books-post', books: @books %>
        </div>
    </div>
</div>