<div class="row">
    <div class="good col-4">
        <%= pie_chart @chart %>
    </div>

    <div class="col-6 offset-6">
        <div class="card text-center">
            <div class="card-header">
                <h3>Good</h3>
            </div>
            <%= render 'layouts/books-post', books: @goods %>
        </div>
    </div>
</div>