<div class="search row">
    <div class="col-sm-4 offset-sm-2">
        <p>タイトル</p>
    </div>
    
    <div class="col-sm-5">
        <%= form_with(model: @book, url: books_search_path, local: true) do |f| %>
            <%= f.text_field :title, class: 'form-control mb-4' %>
            
            <%= f.submit '検索', class: 'btn btn-lg btn-warning form-control'%>
        <% end %>
    </div>
</div>