<h1 class="how">How To Use</h1>

<p>トップページのSignupページでユーザー登録を行ってください。（テストユーザーはそのままLoginページへ）</p>
<p>ログイン後、ページ上部のNew Bookから本のレビュー作成ページに移動することができます。</p>
<p>レビュー作成ページでは、タイトルを候補となる本の一覧が表示されるので、その中から読んだ本を選び、レビューを書いてください。</p>
<p>ページの左側には、現在のユーザーの投稿数、いいね（☆）が多い投稿のランキングが表示されます。</p>
<p>Linkからは、自分がいいねを押した投稿、各ジャンルごとの投稿を閲覧することができます。</p>