.search{
    margin-left: 130px;
}

.new{
    margin-right: 100px;
}

.newcon1{
    margin-top: 40px;
}

.newcon2{
    margin-top: 40px;
}

.newcon3{
    margin-top: 40px;
}

.newcon4{
    margin-top: 50px;
}

.newcon5{
    margin-top: 47px;
}

.newcon6{
    margin-top: 50px;
}

.w-tablehead {
    width: 40%;
}

.list-group-item {
    border-top: 1px solid #888 ;
    border-bottom: 1px solid #888; 
}

.list-item-image {
    height: 180px;
    width: 100%;
}

.imagefit {
   object-fit: contain;
   height: 180px;
}
