.search{
    margin-left: 130px;
}

.new{
    margin-right: 100px;
}

.w-tablehead {
    width: 40%;
}

.list-group-item {
    border-top: 1px solid #888 ;
    border-bottom: 1px solid #888; 
}

.list-item-image {
    height: 180px;
    width: 100%;
}

.imagefit {
   object-fit: contain;
   height: 180px;
}