.toppage{
    background-image: url("hondana.jpg");
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}


.how{
    color:red;
}

.imgfluid{
    object-fit: contain;
    height: 100px;
}

.center, .post, .p-good{
    text-align: center;
}


.list{
    color: white;
}


.good_button{
    list-style: none;
    margin-left: -40px;
}

.button{
    margin-right: 5px;
}

.rank{
    margin-top: 20px;
}
