.toppage{
    background-image: url("hondana.jpg");
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}

.center{
    text-align: center;
}

.left{
    position: fixed;
}

.newpost{
     width: 10rem;
}

.list{
    color: white;
}


.good_button{
    display: flex;
}