.toppage{
    background-image: url("hondana.jpg");
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}

.imgfluid{
    object-fit: contain;
    height: 150px;
}

.center{
    text-align: center;
}

.left{
    position: fixed;
}


.list{
    color: white;
}


.good_button{
    list-style: none;
    margin-left: -40px;
}

.button{
    margin-right: 5px;
}

.rank{
    margin-top: 20px;
}
