<div class="card text-center" style="width: 10rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <% books.each do |book| %>
                <div>
                    <%= book.author %>
                </div>
            <% end %>
        </li>
    </ul>
</div>
<br>
<div class="card text-center" style="width: 10rem;">
    <%= link_to '新規投稿', search_books_path %>
</div>